<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mars Data</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

</head>

<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1>Mars Latest Info</h1>
            <p>
                <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape The Latest Data</a>
            </p>
        </div>
    </div>

    <div class="container">
        <h1>Latest Mars News</h1>
        <div>
            <h3 class="heading">{{ mars_html.headline }}</h3>
            <p class="paragraph">{{ mars_html.paragraph }}</p>
        </div>
    </div>


    <div class="container">
        <h1>Featured Mars Image</h1>
        <div class="image">
            <img src="{{ mars_html.featured_image_url }}" alt="{{ mars_html.featured_image_url }}">
        </div>
    </div>

    <div class="container">
        <h1>Mars Facts Table</h1>
        <div class="table">
            {{mars_html.mars_fact_table | safe}}
        </div>

        <hr>
        <div class="row">
            <div class="col-md-8 offset-4">
                <h2 class="align-items-center"><u>Mars hemispheres</u></h2>
            </div>
        </div>
        </br>
        <div class="row">
            {% for hem in mars_html.mars_hemispheres %}
            <div class="col-6 border">
                </br>
                <div>
                    <img width="300 px" height="300 px" class="center" src="{{hem.image_url}}">
                </div>

                <div>
                    <h4> {{hem.title}} </h4>
                </div>

            </div>
            {% endfor %}
        </div>

        <hr>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
</body>

</html>