<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mars Data</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

</head>

<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1>Mission To Mars</h1>
            <p>
                <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape The Latest Data</a>
            </p>
        </div>
    </div>

    <div class="container">
        <h1>Latest Mars News</h1>
        <div>
            <h3 class="heading">{{ mars_data.news_title }}</h3>
            <p class="paragraph">{{ mars_data.news_p }}</p>
        </div>
    </div>


    <div class="container">
        <h1>Featured Mars Image</h1>
        <div class="image">
            <img src="{{ mars_data.featured_image_url }}" alt="{{ mars_data.featured_image_url }}">
        </div>
    </div>

    <div class="container">
        <h1>Mars Facts Table</h1>
        <div>
            {{mars_data.facts | safe }}
        </div>

        <hr>
        <div class="row">
            <div class="col-md-8 offset-4">
                <h2 class="align-items-center"><u>Mars hemispheres</u></h2>
            </div>
        </div>
        </br>
        <div class="row">
            {% for hemisphere in mars_data.hemispheres %}
            <div class="col-6 border">
                </br>
                <div>
                    <img width="300 px" height="300 px" class="center" src="{{hemisphere.img_url}}">
                </div>

                <div>
                    <h4> {{hemisphere.title}} </h4>
                </div>

            </div>
            {% endfor %}
        </div>
</body>

</html>